body {
  background: #222;
  color: #ffaa23;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.knob-container {
  text-align: center;
}

.knob {
  background: #191818;
  border-radius: 50%;
  box-shadow: 0 1px 4px #333b;
  transition: box-shadow .18s;
}

.knob:active, .knob:focus-visible {
  outline: 2px solid #fe8500bb;
  box-shadow: 0 0 15px #fe850066;
}

label {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
}
