/*body*/
body {background-color: #222;
      
}
@font-face{
  font-family: Roboto;
  src: url(Font/Roboto/Roboto-VariableFont_wdth\,wght.ttf);

}
/* Header*/

.header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: #222222;
  color: #ff5c2f;
  height: 60px;
  position: relative;
  font-family: roboto;
  font-size: x-large;

}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search {
    display:flex;
  flex: 1;
  justify-content: center;
  margin: 0.5,rem;
  margin-left: 0;
}

.search input {
  width: 50%;
  padding: 0.5em;
  border-radius: 22px;
  border: none;
  
}

.burger {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.burger span {
  width: 100%;
  height: 4px;
  background: #a29e9e;
  border-radius: 2px;
  display: block;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  color: #ff5c2f;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 50px;
  border-color: #ff5c2f;
  transition: background 0.2s;

}

.nav a:hover {
  background: #444;
}

@media (max-width: 768px) {
  .search { display: none; }
  .nav {
    display: none;
    position: absolute;
    right: 1rem;
    top: 60px;
    background: #222;
    flex-direction: column;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 16px #0004;
  }
  .nav.open { display: flex; }
  .burger { display: flex; }
}
/* Oscillateur 1 */

.synth-card {
  background: #222;
  border-radius: 10px;
  padding: 2.3rem 2.1rem 1.5rem 2.1rem;
  margin-top: 10px;
  box-shadow: 0 3px 18px #111b, 0 0 0 #fe8500;
  transition: box-shadow .27s cubic-bezier(.45,1,.45,1);
  display: flex;
  flex-direction: column;
  align-items:left ;
  min-width: 325px;
  max-width: 325px;
}
.synth-card:hover {
  box-shadow: 0 5px 30px 0 #fd820055, 0 0 0 4px #fe8500bb;
}
.oscillo-wrap {
  width: 325px;
  height: 300px;
  display: flex;
  justify-content: center;
}
#oscilloscope {
  background: #2b2a28;
  border-radius: 9px;
  margin-bottom: 1.4rem;
  width: 400px;
  height: 300px;
  max-width: 100%;
}
/* Knobs row */
.knob-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 0,3rem;
  margin-top: 0.6rem;
}
.knob-wrap { text-align: center; }

.knob {
  background: #191818;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 1px 4px rgba(82, 82, 81, 0.733);
  margin-bottom: .2rem;
  transition: box-shadow .18s;
}
.radio-group {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  gap: 0.4rem;
}

.radio-group label {
  font-family: sans-serif;
  font-size: 0.9em;
  color: #ffaa23;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.radio-group input[type="radio"] {
  accent-color: #fe8500;
  transform: scale(1.2);
}

.knob:active, .knob:focus-visible {
  outline: 2px solid #fe8500bb;
  box-shadow: 0 0 15px #fe850066;
}
label { font-size:.98em; color:#ffaa23; margin-top:.2em;font-family:sans-serif;}
button#playBtn {
  margin-top: .8rem;
  background: linear-gradient(90deg,#fe8500,#fdc176);
  color: #222;
  border: none;
  border-radius: 35px;
  font-size: 15px;
  font-weight: bold;
  padding: 0.8rem ;
  cursor: pointer;
  box-shadow: 0 2px 16px #3c290c41;
  transition: box-shadow .20s, background .14s;
  width: 325px;
}
button#play:hover {
  box-shadow: 0 2px 30px #fd8200c0, 0 1px 40px #fd820066;
  background: linear-gradient(90deg,#fdc176,#fe8500);
}
